.hero-slider-bg img {
    height: 100vh;
}.widget-sideBar-menu{
     text-align: left;
     margin-bottom: 30px;
}.widget-sideBar-menu li a{
    color: white;
    display: block;
    padding: 10px;
    line-height: 24px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}.widget-sideBar-menu li a:hover{
    color: #ff365d;
}.mobile-contact-info .logo img{
    margin-bottom: 25px;
}
.mobile-contact-info .menu-msg{
    width: 97%;
}
.mobile-contact-info .menu-msg a{
    color: white;
    text-align: center;
    font-size: 14px;
    display: block;
    font-weight: bold;
    width: 50%;
    border-bottom: 1px solid #727272;
    margin: auto;
    margin-bottom: 20px;
}
/* Login And Register Page */

.main-container {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}
/*Create product page*/

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.card .card-footer {
    border-top: none;
    padding: 15px 20px;
    border-radius: 0 0 10px 10px
}

.card .card-header {
    background-color: transparent;
    border-bottom: none;
    padding: 20px;
    position: relative
}

.card .card-header.borderless {
    border-bottom: 0 solid transparent
}

.card .card-header.borderless+.card-block,
.card .card-header.borderless+.card-block-big,
.card .card-header.borderless+.card-block-small {
    padding-top: 0
}

.card .card-header .card-header-left {
    display: inline-block
}

.card .card-header .card-header-right {
    right: 10px;
    top: 13px;
    display: inline-block;
    float: right;
    padding: 7px 0;
    position: absolute
}

@media only screen and (max-width:575px) {
    .card .card-header .card-header-right {
        display: none
    }
}

.card .card-header .card-header-right i {
    margin: 0 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    line-height: 1
}

.card .card-header .card-header-right .card-option {
    width: 35px;
    height: 20px;
    overflow: hidden;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.card .card-header .card-header-right .card-option li {
    display: inline-block
}

.card .card-header span {
    display: block;
    font-size: 13px;
    margin-top: 5px
}

.card .card-header h5 {
    margin-bottom: 0;
    color: #333;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    margin-right: 10px;
    line-height: 1.1;
    position: relative
}

.card .card-header h5+span {
    display: none
}

.card .card-header h5:after {
    content: "";
    background-color: #d2d2d2;
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: -20px;
    left: 0
}

.card .card-block {
    padding: 1.25rem
}

.card .card-block.card-p-0 {
    padding: 1.25rem 0 0
}

.card .card-block.p-b-0 {
    padding-bottom: 0
}

.card .card-block table tr {
    padding-bottom: 20px
}

.card .card-block .sub-title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px
}

.card .card-block code {
    background-color: #eee;
    margin: 5px;
    display: inline-block
}

.card .card-block .dropdown-menu {
    top: 38px
}

.card .card-block p {
    line-height: 1.4
}

.card .card-block a.dropdown-item {
    margin-bottom: 0;
    font-size: 14px;
    -webkit-transition: .25s;
    transition: .25s
}

.card .card-block a.dropdown-item:active,
.card .card-block a.dropdown-item .active {
    background-color: #4099ff
}

.card .card-block.remove-label i {
    margin: 0;
    padding: 0
}

.card .card-block.button-list span.badge {
    margin-left: 5px
}

.card .card-block .dropdown-menu {
    background-color: #fff;
    padding: 0
}

.card .card-block .dropdown-menu .dropdown-divider {
    background-color: #ddd;
    margin: 3px 0
}

.card .card-block .dropdown-menu>a {
    padding: 10px 16px;
    line-height: 1.429
}

.card .card-block .dropdown-menu>li>a:focus,
.card .card-block .dropdown-menu>li>a:hover {
    background-color: rgba(202, 206, 209, .5)
}

.card .card-block .dropdown-menu>li:first-child>a:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px
}

.card .card-block .badge-box {
    padding: 10px;
    margin: 12px 0
}

.card .card-block-big {
    padding: 1.5625rem
}

.card .card-block-small {
    padding: .9375rem
}

.card-footer {
    background: 0 0
}
.create-product-page{

}.create-product-page{

}.create-product-page .fa-asterisk {
      right: 25px;
      top: 13px;
  }
.btn-primary, .sweet-alert button.confirm, .wizard>.actions a {
    background-color: #4099ff;
    border-color: #4099ff;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s;
}
/*End Create product page*/
/*Login Page*/
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.register-box {
    width: 600px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ff365d;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #ff365d;
    font-size: 12px;
}

.login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ff365d;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box button:hover {
    background: #ff365d;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff365d,
    0 0 25px #ff365d,
    0 0 50px #ff365d,
    0 0 100px #ff365d;
}

.login-box button span {
    position: absolute;
    display: block;
}

.login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ff365d);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ff365d);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ff365d);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ff365d);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}
.alert_msg{
    padding:20px;
    position: fixed;
    left: 0;
    top: 79px;
    z-index: 2;
    min-width: 300px;
    margin-bottom: 20px;
}.alert_msg .alert{
     text-align: left;
     position: absolute;
}.msg i{
      color: #dd7070;
      font-weight: bold;
}
.fa-asterisk{
    color: #df0000;
    font-size: 14px;
    position: absolute;
    right: 7px;
    top: 18px;
}
/*Portfilo page*/
.profile .card-body{
    transition: all .3s ease-in-out;
}.profile .card{
    background-color: #ffffff;
} .profile .card-header{
    text-align: left;
    padding: 10px 0;

}.profile .position-right {
    right: 0;
    top: 7px;
}.profile .card-header h4{
     font-size: 16px;
     color: #726f6f;
     margin-bottom: 17px;
}.profile .card-header h4:after{
    content: '';
    position: absolute;
    left: 0;
    top: 42px;
    border-bottom: 1px solid #9d9d9d;
    width: 129px;
}
.profile .card-body:hover{
    background-color: rgba(٢٤١, ٢٤١, ٢٤١, 0.93);
}
.profile .card-body:hover img{
    opacity: 1;
    transform: rotate(360deg);
    transition: all .5s ease-in-out;
}
.user-avatar{
    margin-top:20px;
    opacity: .8;
}
.text-c-yellow{
    color: #ffb64d;
}.text-default {
     color: #d6d6d6;
}.label {
     border-radius: 4px;
     font-size: 75%;
     padding: 4px 7px;
     margin-right: 5px;
     font-weight: 400;
     color: #fff;
 }.label-danger {
     background: #ff5370;
}.position-right {
     position: absolute;
     right: 0;
     top: 0;
}.card .card-header {
     background-color: transparent;
     border-bottom: none;
     padding: 12px 0px;
     position: relative;
     text-align: left;
     margin-bottom: 20px;
}.btn-main, .sweet-alert button.confirm, .wizard>.actions a {
      background-color: #b19361;
      border-color: #b19361;
      color: #fff;
      cursor: pointer;
      -webkit-transition: all ease-in .3s;
      transition: all ease-in .3s;
}.btn-main:hover, .sweet-alert button.confirm:hover, .wizard>.actions a:hover {
   background-color: #d5b071;
   border-color: #b19361;
}.text-primary {
     color: #ffffff !important;
}.btn-outline-main {
     color: #d5b071;
     border-color: #d5b071;
}.btn-outline-main:hover{
   color: #FFF;
   background-color: #b19361;
   border-color: #d5b071;
}.btn.btn-main:hover {
     color: #fff;
 }
/*End Profile page*/
